# MongoDB Configuration
# For local MongoDB
MONGODB_HOST=mongodb://localhost:27017

# For MongoDB Atlas (cloud)
# MONGODB_HOST=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# Database Name
MONGODB_NAME=healthguard_db

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-health-warning-system-2024-final-year-project-key
ALLOWED_HOSTS=127.0.0.1,localhost,yourusername.pythonanywhere.com

# Google Maps API
GOOGLE_MAPS_API_KEY=your_api_key_here
