# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment Variables
.env
.env.local

# VS Code
.vscode/

# Ignore Mac system files if applicable
.DS_Store
